
.firstline{
  display: grid;
  grid-gap: 50px;
  align-items: center;
  grid-template-columns: 1fr  1fr;

  justify-items: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.secondline{
  display: grid;
  grid-gap: 100px;
  align-items: center;
  grid-template-columns: auto auto auto;
  justify-items: center;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.thirdline{
  display: grid;
  grid-gap: 50px;
  align-items: center;
  grid-template-columns: 1fr  1fr;

  justify-items: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cerq {
  height: 300px;
  width: 300px;
  cursor: pointer;
  text-align: center;
  background-color:#efbbcf;
  border-radius: 50%;
  display: inline-block;
}
.admtext{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.5em;
}
.cerqtext{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #752a87;
  font-size: 1.7em;
}
.cerqadm {
  display: grid;
  height: 200px;
  align-items: center;
  justify-items:center;
  text-align: center;
  width: 200px;
  background-color: #8a77aa;
  border-radius: 50%;
  display: inline-block;
}
.adm{
  min-height:90vh;
}