.gridlayout {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  align-content: center;
  width: 85%;
  margin: auto;
}

.heading {
  font-size: 27px;
  text-align: center;
  margin: 30px;
  margin-top: 0px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-weight: 600;
}
