.pogcont{
    transition: opacity 0.6s;

}


.topbannerteam{
	max-width:100%;
	height:auto !important;
	display:grid;
	grid-template-rows:auto auto;
	grid-gap: 10px;
}

.topbannerimgteam{
  margin-top:10px;
	max-width:100%;
	height:auto;
}
.teamtitle{
  text-align: center;
  color: #752a87;
  font-size: 4em;

}
.icons a{
  color: black !important;
}
.teamcards{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;

  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.teamimg{
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 50%;
}

.teamimg img{
  max-height: 350px;
}
.titlebanteam{
	width:100%;
	height:auto;
 	align-self: end !important;
 	justify-self: start;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    margin: auto;
    text-align: start;
    color: #752a87;
    padding-left:1rem;

  }
  .titlebanteam p{
    font-size: 1.5rem;


  }
  

  .conti {
  width: 80%;
  margin: 0px auto 0 auto;
  color: #fff;
  min-width: 320px;
}

.headersect{
  width:100%;
  text-align: start;
  margin:25px auto;
  font-size:2.5rem !important;
  color:#752a87;
}

.members{
  overflow:hidden;
  display: grid;
  height:auto;
  grid-gap: 30px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

}



  