.libstud{
    transition: opacity 0.6s;
	display: grid;
	grid-template-rows: auto auto 1fr;
	align-items: center;
	min-height: 85vh;
}


.search-bar{
	margin: auto;
	width: 50%;
}
.search {
	width: 100%;
	position: relative;
	display: flex;
	margin: 30px;
  }
  
  .searchTerm {
	width: 100%;
	border: 3px solid #8675a9;
	border-right: none;
	padding: 5px;
	height: 70px;
	font-size: 2em;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #8675a9;
  }
  
  .searchTerm:focus{
	color: #752a87;
  }
  
  .randtext{
color:#752a87;
font-size: 3em;
text-align: center;
margin-bottom: 40px;
  }
  .searchButton {
	width: 70px;
	height: 70px;
	border: 1px solid #8675a9;
	background: #8675a9;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 30px;
  }
  
  .searchImg{
	  margin: auto;
  }
  .searchImgI{
	  max-height: 500px;
  }
  .searchResults{
	  margin:50px;
  }


  .reshead h2{
	  margin: 50px;
	  color:#752a87;
  }

  